/* 
Main Cards Design :: 
*/
.profileCard{
    width: 200px;
    height: 300px;
    border: 1px #666633 solid; padding: 5px; margin: 7px; float: left;
}
.main_window {
    overflow-y: scroll; height: 750px;
}